body {
  backdrop-filter: blur(5px) ;
  text-shadow: .05rem 1px rgba(0, 0, 0, 0.594);
  height: 100%;
}
#root {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/night-sky-clear.jpg"); 
  background-size:cover;
  background-attachment:scroll;

}

::selection{
  background-color: rgba(163, 164, 165, 0.359);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


.search-bar input{
  width: 100%;
  margin-left: 5px;
  color:white;
  border-bottom: 1px solid rgba(245, 245, 245, 0.523);
  background: transparent;
  transition-duration: .2s;
}

.search-bar input:focus{
  outline: none;
}
.search-bar input:hover{
  border-bottom: 1px solid rgba(203, 203, 203, 0.382)
}

.search-button {
  padding: 5px;
  background-color: rgba(132, 132, 132, 0.155);
  border-radius: 50%;
  transition-duration: .1s;
}

.search-button:hover {
  background-color: rgba(101, 101, 101, 0.155);
}

.mobile-search-bar {
  border-radius: 50px;
  padding: .1rem .1rem;
  background: rgba(135, 134, 134, 0.038);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.227);
  backdrop-filter: saturate(180%) blur(20px) contrast(100%) opacity(50%);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}

.suggestions-box {
  background: rgba(31, 31, 31, 0.649);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.276);
}

.suggestions-box-item {
  transition-duration: .2s;
}

.suggestions-box-item:hover {
  background: rgba(92, 92, 92, 0.69);
}

.right-section-container {
  background: rgba(0, 0, 0, 0.201);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.276);
  backdrop-filter: saturate(180%) blur(20px) contrast(100%);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  margin-top: 2rem;
  height: 100%;
}

/* Forecast card */
.forecast-card {
  padding: 5px 15px;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgba(150, 149, 149, 0.157);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.157);
  backdrop-filter: saturate(180%) blur(20px) contrast(100%);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  transition: all .4s ease-in-out;
  
}

.forecast-data {
  height: 0px;
  transition: all .5s ease;
}

.forecast-data.active {
  height: 150px;
}

/* SM sizes */ 
@media only screen and (min-width:640px) {

}

/* MD sizes */
@media only screen and (min-width:768px) {
  
}

/* Lg sizes */
@media only screen and (min-width:1024px) {
  .search-bar input {
    background: rgba(162, 162, 162, 0.0);
  }
  .right-section-container {
    position: fixed;
    width: 42%;
    padding: 50px 10px 0px 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-top: 0;
  }
  .suggestions-box {
    width: 68%;
  }
}

/* XL sizes */
@media only screen and (min-width:1280px) {
  .right-section-container {
    width: 30%;
  }
  
}

/* 2xl sizes */
@media only screen and (min-width:1536px) {
  
}
