@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Century Gothic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  

  --color-shadow: #012326;
  --color-midtone: #387373;
  --color-base: #93BFB7;
  --color-base-lighter: #97A6A0;
  --color-highlights: #E4F2E7;

  /* --night-bg: linear-gradient()
   */
  background: rgb(26,5,110);
  background: linear-gradient(0deg, #01162E 0%, #01426D 40%, #001D37 100%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

